<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="apple-touch-icon" sizes="57x57" href="/static/images/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/images/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/images/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/images/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/images/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/images/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/images/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/images/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/static/images/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png">
    <link rel="manifest" href="/static/images/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">


    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Our best friend, Bacon</title>

    <!-- CSS -->
    <link type="text/css" rel="stylesheet" href="/static/css/main.css"/>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Archivo+Black|Tenor+Sans|Open+Sans" rel="stylesheet">
</head>

<body class="animate-background-color">
    <div class="site-wrapper">
        <div id="top" class="vide-wrapper">
            <div class="vide"></div>
            <div class="bg-pattern"></div>

            <div class="hero-text-wrapper">
                <div class="huge-bacon-name archivo">BACON</div>
                <div class="smaller-text tenor">was our friend for ten years</div>
                <div class="even-smaller-text tenor bold">Enjoy his memory</div>
                <div class="even-smaller-text lifetime tenor">2007-2017</div>
            </div>

            <div class="send-photo-wrapper open-sans">
                <p>Did you know Bacon?  Have a photo of him you don't see here?</p>
                <p class="smallest-text">I'd love to <a href="mailto:tylerkershner@gmail.com?subject=Bacon" class="bold">hear from you</a>!</p>
            </div>
        </div>

        <div class="images-wrapper"></div>

        <div class="load-more-btn tenor">Load More</div>
        <a href="#top" class="top bold archivo">Top</a>
    </div>

    <!-- JavaScripts -->
    <script type="text/javascript" src="/static/js/vendor/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/static/js/vendor/jquery.color-2.1.2.min.js"></script>
    <script type="text/javascript" src="/static/js/vendor/vide.min.js"></script>
    <script type="text/javascript" src="/static/js/vendor/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="/static/js/vendor/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript" src="/static/js/vendor/randomColor.js"></script>
    <script type="text/javascript" src="/static/js/bacon.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            bacon.config.bucketName = '{{ bucket_name }}';
            bacon.config.s3BaseUrl = '{{ s3_base_url }}';
            bacon.config.imageUrls = {{ image_urls|safe }};
            bacon.config.heroVideoKey = '{{ hero_key}}';
            bacon.init();
        });
    </script>
</body>
</html>